body {
 
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(6, 2, 98) 0%,
    rgba(0, 212, 255, 1) 35%,
    rgba(0, 200, 243, 1) 62%,
    rgb(6, 2, 98) 100%
  );
  color: #f6f6fe;

 
}

.content{
  min-height: calc(100vh - 100px); 
 
}  






